!
no aaa root
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
hostname {{ inventory_hostname }}
ip domain lookup vrf MANAGEMENT source-interface Management1
{% for i in name_server %}
ip name-server vrf MANAGEMENT {{ i.host }} priority {{ loop.index0 }}
{% endfor %}
dns domain yamause
ip domain-list yamause
!
snmp-server community {{ snmp_server.community }} ro
snmp-server vrf MANAGEMENT
!
spanning-tree mode mstp
!
vrf instance MANAGEMENT
!
{% for i in radius_server %}
radius-server host {{ i.host }} vrf MANAGEMENT key {{ i.secret }}
{% endfor %}
!
aaa group server radius RAD-GROUP
{% for i in radius_server %}
   server {{ i.host }} vrf MANAGEMENT
{% endfor %}
!
aaa authentication login default group RAD-GROUP local
aaa authentication enable default group RAD-GROUP local
aaa authorization serial-console
aaa authorization exec default group RAD-GROUP local
!
{% for i in interfaces %}
{% include 'interfaces/' + i.template | default('default.j2') %}

{% endfor %}
interface Loopback0
   description EVPN
   ip address {{ evpn_endpoint }}
!
interface Management1
   vrf MANAGEMENT
   ip address {{ management }}
!
ip routing
no ip routing vrf MANAGEMENT
!
ip as-path access-list myorigin permit ^$ any
!
ipv6 unicast-routing
!
ip route vrf MANAGEMENT 0.0.0.0/0 10.19.30.254 name ix-gw-01
!
route-map ADV-LO permit 10
   description EVPN Interface
   match interface Loopback0
!
route-map gracefulshut permit 10
   match as-path myorigin
   set community GSHUT
!
peer-filter EVPN-PF
   description "Underlay Peering for EVPN/VXLAN"
   10 match as-range 65101-65110 result accept
!
{% include 'bgp.j2' %}

management ssh
   vrf MANAGEMENT
      no shutdown
   !
   vrf default
      shutdown
!
end
