system {
    host-name {{ inventory_hostname }};
    root-authentication {
        encrypted-password "$6$thmbnjfn$Ik9y6ashDuDAv/qriDvkx1L1aW2Y2Q2lGB2ZtnYgsnX6EEUuXGCRKmgh8pJMtml5Dv6mX6WkGiM1WguaR.sKo.";
    }
    login {
        user remote {
            uid 2000;
            class super-user;
        }
    }
    services {
        netconf {
            ssh;
        }
    }
    arp {
        aging-timer 5;
    }
    management-instance;
    authentication-order [ radius password ];
    radius-server {
{% for i in radius_server %}
        {{ i.host }} {
            routing-instance mgmt_junos;
            secret {{ i.secret }};
            source-address {{ management | ansible.utils.ipaddr('address') }};
        }
{% endfor %}
    }
    accounting {
        events login;
        destination {
            radius {
                server {
{% for i in radius_server %}
                    {{ i.host }} {
                        routing-instance mgmt_junos;
                        secret {{ i.secret }};
                    }
{% endfor %}
                }
            }
        }
    }
    syslog {
        file interactive-commands {
            interactive-commands any;
        }
        file messages {
            any notice;
            authorization info;
        }
    }
    processes {
        dhcp-service {
            traceoptions {
                file dhcp_logfile size 10m;
                level all;
                flag packet;
            }
        }
    }
}
chassis {
    aggregated-devices {
        ethernet {
            device-count 8;
            lacp {
                system-priority 65535;
            }
        }
}

}
interfaces {
{% for i in interfaces %}
{% include 'interfaces/' + i.template %}

{% endfor %}
    fxp0 {
        unit 0 {
            family inet {
                address {{ management }};
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address {{ evpn_endpoint }};
            }
        }
    }
}
multi-chassis {
    mc-lag {
        consistency-check;
    }
}
policy-options {
    policy-statement ADV-LO {
        from {
            protocol direct;
            interface lo0.0;
        }
        then accept;
    }
}
routing-instances {
{% include 'mac_vrf.j2' %}

    mgmt_junos {
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 10.19.30.254;
            }
        }
        description Management;
    }
}
routing-options {
    router-id {{ evpn_endpoint | ansible.utils.ipaddr('address') }};
    autonomous-system {{ asn }};
}
protocols {
    router-advertisement {
        interface fxp0.0 {
            managed-configuration;
        }
        interface ge-0/0/0.0;
    }
{% include 'bgp.j2' %}

    lldp {
        interface all;
    }
    lldp-med {
        interface all;
    }
}
